@font-face {
  font-family: 'qr-code';
  src: url('https://assets.website-files.com/63dbcee746674134a00f2de6/63dc0859f62b377a180b52cf_cloudly-x-icon-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, #f3f4fb, var(--neutral--100));
}
.container_default {
  max-width: 1268px;
  padding-left: 24px;
  padding-right: 24px;
}
.w_container{
  margin-left: auto;
  margin-right: auto;
}

.header_wrapper{
  background-color: rgba(0, 0, 0, 0);
  padding-top: 36px;
  padding-bottom: 36px;
}

.w_nav {
  z-index: 1000;
  /* background: #ddd; */
  position: relative;
}

.qr_code {
  font-family: qr-code, sans-serif;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.nav .dropdown {
  position: relative;
}

.nav .dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: 10px;
}

.dropdownContent a {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.downloadButton button {
  background-color: #1d1a2e;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  padding: 18px 24px;
  font-size: 16px;
  line-height: 1.125em;
}
.btn_text{
  padding-left: 4px;
}
.downloadButton button:hover {
  background-color: #555;
}


@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="0db6db4d-5cda-7959-5849-f8d17e20bc0f"] {
      -webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}

@media (max-width: 991px) and (min-width:768px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="0db6db4d-5cda-7959-5849-f8d17e20bc0f"] {
      -webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}

@media (max-width: 767px) and (min-width:480px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="0db6db4d-5cda-7959-5849-f8d17e20bc0f"] {
      -webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}

@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="0db6db4d-5cda-7959-5849-f8d17e20bc0f"] {
      -webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}